version: "3.8"

services:
  # web:
  #   image: nginx:1.27.5
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     # Nginx 설정
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #     # 호스트에서 발급·갱신된 인증서를 컨테이너에 읽기 전용으로 마운트
  #     - /etc/letsencrypt:/etc/letsencrypt:ro
  #     # HTTP-01 challenge용 웹루트 (Certbot --webroot 경로)
  #     - /var/www/certbot:/var/www/certbot:ro
  #   networks:
  #     - backend
  #   depends_on:
  #     - siu
  #     - siu2
  #     - sonny

  siu:
    build:
      context: ./siu
    container_name: nest-siu
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - backend

  siu2:
    build:
      context: ./siu2
    container_name: nest-siu2
    ports:
      - "3001:3001"
    networks:
      - backend

  sonny:
    build:
      context: ./sonny
    container_name: nest-sonny
    ports:
      - "3002:3002"
    networks:
      - backend

networks:
  backend:
    driver: bridge
