services:
  web:
    image: nginx:1.27.5
    ports:
      - "80:80"
      - "443:443" # HTTPS 추가
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    networks:
      - backend
    depends_on:
      - siu
      - siu2
      - sonny

  certbot:
    image: certbot/certbot
    depends_on:
      - web # “nginx” → “web” 으로 수정
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    entrypoint: >
      sh -c "certbot certonly -n
             --webroot -w /var/www/certbot
             --email iuttn123@gmail.com
             --agree-tos --no-eff-email
             -d joshua-legend.kro.kr && 
             nginx -s reload"

  siu:
    build:
      context: ./siu
    container_name: nest-siu
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - backend

  siu2:
    build:
      context: ./siu2
    container_name: nest-siu2
    ports:
      - "3001:3001"
    networks:
      - backend

  sonny:
    build:
      context: ./sonny
    container_name: nest-sonny
    ports:
      - "3002:3002"
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  certbot-etc:
  certbot-var:
